.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-1-square:hover{
    background-color: red;
    
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-2-square:hover{
    width: 100%;
    
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square:hover{
    border-radius: 55px;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square:hover{
    transition: 5s;
    opacity: 0;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-5-square:hover{
    scale: 3;

}
.ex-5-square:active{
    scale: 0.5;
    
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-6-img:hover{
    filter: grayscale(100%);

}
.ex-7-img:hover{
    filter: grayscale(100%);
    opacity: 0.5;
    border-radius: 15px;
}
.ex-8-img:hover{
    filter: grayscale(100%);
    opacity: 0.5;
    border-radius: 15px;
    scale: 0.65;

}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-9-img:hover{
    filter: grayscale(100%);
    opacity: 0.5;
    border-radius: 15px;
    scale: 0.65;

}
.ex-10-icon {
    font-size: 60px;
    animation-name:rotazione;
     animation-duration: 5s; 
    
}
@keyframes rotazione{
    0%{
        rotate: 0deg;
    }
    25%{rotate:90deg;}
    50%{
        rotate:180deg;
    }
    75%{rotate: 270deg;}
    100%{rotate: 360deg;}
}

.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover {
    font-size: 60px;
    animation-name:rotazione;
     animation-duration: 5s; 
    
}
@keyframes rotazione2{
    0%{
        rotate: 0deg;
    }
    25%{rotate:90deg;}
    50%{
        rotate:180deg;
    }
    75%{rotate: 270deg;}
    100%{rotate: 0deg;}
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    
}
.ex-12-top-white,.ex-12-bottom-white{
    animation: muovi_bianco 10s linear;
}
@keyframes muovi_bianco{
    0% {
        left: 0px;
    }
    25%{
        left:calc(100%-30px) ;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 100%;
    }
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-13-button:hover .ex-13-top-white {
    animation: moveTopWhiteCompletely 20s linear;
}
@keyframes moveTopWhiteCompletely {
    0% {
        left: 10%;
        top: -10px;
    }
    25% {
        left: calc(100% - 30px);
        top: -10px;
    }
    50% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white{
    animation: movebottomWhiteCompletely 20s linear;
} 
@keyframes movebottomWhiteCompletely {
    0% {
        right: 20%;
       bottom: -10px;
    }
    25% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    50% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    
    100% {
        right: 20%;
        bottom: -10px;
    }
}
/* problemi solo con l'ultimo */